<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes do Doador</title>
    <link rel='stylesheet' href='/stylesheets/show.css' />
  </head>
  <body>
    <div class="header">
      <h1>Recicla Têxtil</h1>
    </div>
    <div class="header2">
      <h2>Informações do Administrador</h2>
    </div>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>:</td>
            <td><%= donator.name %></td>
          </tr>
          <tr>
            <td>Telefone</td>
            <td>:</td>
            <td><%= donator.phone %></td>
          </tr>
          <tr>
            <td>Morada</td>
            <td>:</td>
            <td><%= donator.address %></td>
          </tr>
          <tr>
            <td>Pontos acumulados</td>
            <td>:</td>
            <td><%= donator.gainedPoints %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/donators/edit/<%= donator._id %>">EDIT</a></h3>
      <form action="/donators/delete/<%= donator._id %>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
