<!DOCTYPE html>
<html>

<head>
  <title>Detalhes dos Doadores</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h1>Detalhes do Doador</h1>
    <% donators.forEach(donator => { %>
      <table>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>:</td>
            <td><%= donator.name %></td>
          </tr>
          <tr>
            <td>Telefone</td>
            <td>:</td>
            <td><%= donator.phone %></td>
          </tr>
          <tr>
            <td>Morada</td>
            <td>:</td>
            <td><%= donator.address %></td>
          </tr>
          <tr>
            <td>Pontos acumulados</td>
            <td>:</td>
            <td><%= donator.gainedPoints %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/donators/edit/<%= donator._id %>">EDIT</a></h3>
      <form action="/donators/delete/<%= donator._id %>" method="post">
        <button type="submit">DELETE</button>
      </form>
    <% }); %>
  </div>
</body>

</html>
