<!DOCTYPE html>
<html>
<head>
  <title>Detalhes das Entidades</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>
<body>
  <div class="header">
    <a href="/menuAdmin">
      <h1>Recicla Têxtil</h1>
    </a>
  </div>
  <div class="header2">
    <h2>Gestão de Entidades</h2>
  </div>
  <div class="container">
    <form action="/entities/searchByPhone" method="get">
      <input type="number" name="phone" id="phone" placeholder="Procurar por Nº de Telefone"/>
      <button type="submit"><i class="fas fa-search" id="search"></i></button>
    </form>
    <form action="/entities/create" method="get">
      <button type="submit" class="add"><i class="fas fa-plus" id="add-button"></i>Adicionar Entidade</button>
    </form>
  </div>
  
  <h3>Entidades Aceitas</h3>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Morada</th>
        <th>Email</th>
        <th>Telefone</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% entities.filter(entity => entity.accepted === 'aceite').forEach(entity => { %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= entity.description %></td>
        <td><%= entity.address %></td>
        <td><%= entity.email %></td> 
        <td><%= entity.phone %></td>
        <td id="edit-row"><h3><a href="/entities/edit/<%= entity._id %>"><i class="fas fa-pencil-alt"></i></a></h3></td>
        <td id="remove-row">
          <form action="/entities/delete/<%= entity._id %>" method="post">
            <button type="submit" id="eliminate-button"><i class="fas fa-times"></i></button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
  <h3>Entidades em Espera</h3>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Morada</th>
        <th>Email</th>
        <th>Telefone</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% entities.filter(entity => entity.accepted !== 'aceite').forEach(entity => { %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= entity.description %></td>
        <td><%= entity.address %></td>
        <td><%= entity.email %></td> 
        <td><%= entity.phone %></td>
        <td id="remove-row">
          <form action="/entities/acceptEntity/<%= entity._id %>" method="post">
            <button type="submit" id="accept-button"><i class="fas fa-check"></i></button>
          </form>
        </td>
        <td id="remove-row">
          <form action="/entities/show/<%= entity._id %>" method="get">
            <button type="submit" id="accept-button"><i class="fas fa-eye"></i></button>
          </form>
        </td>
        <td id="remove-row">
          <form action="/entities/delete/<%= entity._id %>" method="post">
            <button type="submit" id="eliminate-button"><i class="fas fa-times"></i></button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
