<!DOCTYPE html>
<html>
  <head>
    <title>Editar Doação</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Editar Doação</h1>
      <form action="/donations/update/<%= donation._id %>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Doador</td>
              <td><input type="text" name="donator" value="<%= donation.donator %>" /></td>
            </tr>
            <tr>
              <td>Número de Peças Superiores</td>
              <td><input type="number" name="topPiecesNumber" value="<%= donation.topPiecesNumber %>" /></td>
            </tr>
            <tr>
              <td>Número de Peças Inferiores</td>
              <td><input type="number" name="bottomPiecesNumber" value="<%= donation.bottomPiecesNumber %>" /></td>
            </tr>
            <tr>
              <td>Número de Peças de Roupa Interior</td>
              <td><input type="number" name="underwearPiecesNumber" value="<%= donation.underwearPiecesNumber %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
