<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes da Doação</title>
    <link rel='stylesheet' href='/stylesheets/show.css' enctype = "multipart/form-data"/>
  </head>
  <body>
    <div class="header">
      <a href="/donations">
        <h1>Recicla Têxtil</h1>
      </a>
    </div>
    <div class="header2">
      <h2>Histórico de doações do doador</h2>
    </div>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td>Contacto do doador</td>
            <td>:</td>
            <td><%= donation.donatorPhone %></td>
          </tr>
          <tr>
            <td>Número de Peças Superiores</td>
            <td>:</td>
            <td><%= donation.topPiecesNumber %></td>
          </tr>
          <tr>
            <td>Número de Peças Inferiores</td>
            <td>:</td>
            <td><%= donation.bottomPiecesNumber %></td>
          </tr>
          <tr>
            <td>Número de Peças de Roupa Interior</td>
            <td>:</td>
            <td><%= donation.underwearPiecesNumber %></td>
          </tr>
          <tr>
            <td>Pontos Obtidos</td>
            <td>:</td>
            <td><%= donation.gainedPoints %></td>
          </tr>
        </tbody>
      </table>
      <img src="/images/<%= donation._id %>.jpg">
    </div>
  </body>
</html>
