<!DOCTYPE html>
<html>
<head>
  <title>Detalhes das Doações</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>
<body>
  <div class="header">
    <a href="/menuAdmin">
      <h1>Recicla Têxtil</h1>
    </a>
  </div>
  <div class="header2">
    <h2>Gestão de Doações</h2>
  </div>
  <div class="container">
    <form action="/donations/searchByPhone" method="get">
      <input type="number" name="phone" id="phone" placeholder="Procurar por Nº de Telefone"/>
      <button type="submit"><i class="fas fa-search" id="search"></i></button>
    </form>
    <form action="/donations/create" method="get">
      <button type="submit" class="add"><i class="fas fa-plus" id="add-button"></i>Registar Doação</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Contacto do Doador</th>
        <th>Número de Peças Superiores</th>
        <th>Número de Peças Inferiores</th>
        <th>Número de Peças de Roupa Interior</th>
        <th>Pontos obtidos</th>
      </tr>
    </thead>
    <tbody>
      <% donations.forEach(donation => { %>
      <tr>
        <td><%= donation.donatorPhone %></td>
        <td id="points-column"><%= donation.topPiecesNumber %></td>
        <td id="points-column"><%= donation.bottomPiecesNumber %></td>
        <td id="points-column"><%= donation.underwearPiecesNumber %></td>
        <td id="points-column"><%= donation.gainedPoints %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
