<!DOCTYPE html>
<html>
  <head>
    <title>Editar Entidade</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <h1>Recicla Têxtil</h1>
      </div>
      <div class="header2">
        <h2>Editar Entidade</h2>
      </div>
      <form action="/entities/update/<%= entity._id %>" method="post">
        <table>
            <tr>
              <td>Nome</td>
            </tr>
            <tr>
              <td><input type="text" name="name" placeholder="<%= entity.name %>" /></td>
            </tr>
            <tr>
              <td>Descrição</td>
            </tr>
            <tr>
              <td><input type="text" name="description" placeholder="<%= entity.description %>" /></td>
            </tr>
            <tr>
              <td>Morada</td>
            </tr>
            <tr>
              <td><input type="text" name="address" placeholder="<%= entity.address %>" /></td>
            </tr>
            <tr>
              <td>Email</td>
            </tr>
            <tr>
              <td><input type="text" name="email" placeholder="<%= entity.email %>" /></td>
            </tr>
            <tr>
              <td>Telefone</td>
            </tr>
            <tr>
              <td><input type="number" name="phone" placeholder="<%= entity.phone %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar</button></td>
            </tr>
        </table>
      </form>
  </body>
</html>
