<!DOCTYPE html>
<html>
  <head>
    <title>Editar Administrador</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <h1>Recicla Têxtil</h1>
      </div>
      <div class="header2">
        <h2>Editar administrador</h2>
      </div>
      <form action="/admins/update/<%= admin._id%>" method="post">
          <table>
            <tr>
              <td>Nome</td>
            </tr>
            <tr>
              <td><input type="text" name="name" placeholder="<%= admin.name %>" /></td>
            </tr>
            <tr>
              <td>Email</td>
            </tr>
            <tr>
              <td><input type="text" name="email" placeholder="<%= admin.email %>" /></td>
            </tr>
            <tr>
              <td>Telefone</td>
            </tr>
            <tr>
              <td><input type="number" name="phone" placeholder="<%= admin.phone %>" /></td>
            </tr>
            <tr>
              <td>Password</td>
            </tr>
            <tr>
              <td><input type="text" name="password" placeholder="<%= admin.password %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar</button></td>
            </tr>
        </table>
      </form>
  </body>
</html>
