<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes do Administrador</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/admins">Lista de Administradores</a></h3>
      <h1>Detalhes do Administrador</h1>
      <table>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>:</td>
            <td><%= admin.name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= admin.email %></td>
          </tr>
          <tr>
            <td>UserName</td>
            <td>:</td>
            <td><%= admin.userName %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/admins/edit/<%= admin._id%>">EDIT</a></h3>
      <form action="/admins/delete/<%= admin._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
