<!DOCTYPE html>
<html>
<head>
  <title>Detalhes dos Doadores</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>
<body>
  <div class="header">
    <a href="/menuAdmin">
      <h1>Recicla Têxtil</h1>
    </a>
  </div>
  <div class="header2">
    <h2>Gestão de Admins</h2>
  </div>
  <div class="container">
    <form action="/admins/searchByEmail" method="get">
      <input type="text" name="email" id="email" placeholder="Procurar por Email"/>
      <button type="submit"><i class="fas fa-search" id="search"></i></button>
    </form>
    <form action="/admins/create" method="get">
      <button type="submit" class="add"><i class="fas fa-plus" id="add-button"></i>Adicionar Administrador</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>UserName</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% admins.forEach(admin => { %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.userName %></td>
        <td id="edit-row"><h3><a href="/admins/edit/<%= admin._id %>"><i class="fas fa-pencil-alt"></i></a></h3></td>
        <td id="remove-row">
          <form action="/admins/delete/<%= admin._id %>" method="post">
            <button type="submit" id="eliminate-button"><i class="fas fa-times"></i></button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>