<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes do Administrador</title>
    <link rel='stylesheet' href='/stylesheets/show.css' />
  </head>
  <body>
    <div class="header">
      <a href="/admins">
        <h1>Recicla Têxtil</h1>
      </a>
    </div>
    <div class="header2">
      <h2>Informações do Administrador</h2>
    </div>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>:</td>
            <td><%= admin.name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= admin.email %></td>
          </tr>
          <tr>
            <td>UserName</td>
            <td>:</td>
            <td><%= admin.userName %></td>
          </tr>
        </tbody>
      </table>
      <img src="/images/<%= admin._id %>.jpg">
      <form action="/admins/edit/<%= admin._id%>" method="get">
        <button type="submit">EDITAR</button>
      </form>
      <form action="/admins/delete/<%= admin._id%>" method="post">
        <button type="submit">REMOVER</button>
      </form>
    </div>
  </body>
</html>
