<!DOCTYPE html>
<html>
<head>
  <title>Detalhes dos Doadores</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" >
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>
<body>
  <div class="header">
    <a href="/menuAdmin">
      <h1>Recicla Têxtil</h1>
    </a>
  </div>
  <div class="header2">
    <h2>Gestão de Doadores</h2>
  </div>
  <div class="container">
    <form action="/donators/searchByPhone" method="get">
      <input type="number" name="phone" id="phone" placeholder="Procurar por Nº de Telefone"/>
      <button type="submit"><i class="fas fa-search" id="search"></i></button>
    </form>
    <form action="/donators/create" method="get">
      <button type="submit" class="add"><i class="fas fa-plus" id="add-button"></i>Adicionar Doador</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Morada</th>
        <th>Pontos acumulados</th>
        <th>Vouchers ganhos</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% donators.forEach(donator => { %>
      <tr>
        <td><%= donator.name %></td>
        <td><%= donator.phone %></td>
        <td><%= donator.address %></td>
        <td><%= donator.gainedPoints %></td>
        <td><%= donator.vouchers %></td>
        <td id="edit-row"><h3><a href="/donators/edit/<%= donator._id %>"><i class="fas fa-pencil-alt"></i></a></h3></td>
        <td id="remove-row">
          <form action="/donators/delete/<%= donator._id %>" method="post">
            <button type="submit" id="eliminate-button"><i class="fas fa-times"></i></button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
