<!DOCTYPE html>
<html>
  <head>
    <title>Editar Pontos atribuídos a cada tipo de peça</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <a href="/points">
          <h1>Recicla Têxtil</h1>
        </a>
      </div>
      <div class="header2">
        <h2>Editar Pontos atribuídos</h2>
      </div>
      <form action="/points/update/661ff5afe10497c901313a23" method="post">
        <table>
            <tr>
              <td>Pontos atribuídos por cada peça superior doada</td>
            </tr>
            <tr>
              <td><input required="true" type="number" min=1 name="topPiecesPoints" placeholder="<%= points.topPiecesPoints %>" /></td>
            </tr>
            <tr>
              <td>Pontos atribuídos por cada peça inferior doada</td>
            </tr>
            <tr>
              <td><input required="true" type="number" min=1 name="bottomPiecesPoints" placeholder="<%= points.bottomPiecesPoints %>" /></td>
            </tr>
            <tr>
              <td>Pontos atribuídos por cada peça de roupa interior doada</td>
            </tr>
            <tr>
              <td><input required="true" type="number" min=1 name="underwearPiecesPoints" placeholder="<%= points.underwearPiecesPoints %>" /></td>
            </tr>
            <tr>
              <td>Pontos necessários para obter um vale</td>
            </tr>
            <tr>
              <td><input required="true" type="number" min=1 name="pointsPerVoucher" placeholder="<%= points.pointsPerVoucher %>" /></td>
            </tr>
            <tr>
              <td>Pontos ganhos por euro doado</td>
            </tr>
            <tr>
              <td><input required="true" type="number" min=1 name="pointsPerEuroDonated" placeholder="<%= points.pointsPerEuroDonated %>" /></td>
            </tr>
            <tr>
              <td>Pontos ganhos por doador angariado</td>
            </tr>
            <tr>
              <td><input required="true" type="number" min=1 name="pointsPerNewUser" placeholder="<%= points.pointsPerNewUser %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar</button></td>
            </tr>
        </table>
    </form>    
  </body>
</html>
