<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes dos Pontos atribuídos</title>
    <link rel='stylesheet' href='/stylesheets/show.css' />
  </head>
  <body>
    <div class="header">
      <a href="/points">
        <h1>Recicla Têxtil</h1>
      </a>
    </div>
    <div class="header2">
      <h2>Pontos atribuídos</h2>
    </div>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td>Pontos atribuídos por cada peça superior doada</td>
            <td>:</td>
            <td><%= points.topPiecesPoints %></td>
          </tr>
          <tr>
            <td>Pontos atribuídos por cada peça inferior doada</td>
            <td>:</td>
            <td><%= points.bottomPiecesPoints %></td>
          </tr>
          <tr>
            <td>Pontos atribuídos por cada peça de roupa interior doada</td>
            <td>:</td>
            <td><%= points.underwearPiecesPoints %></td>
          </tr>
          <tr>
            <td>Pontos necessários para obter um vale</td>
            <td>:</td>
            <td><%= points.pointsPerVoucher %></td>
          </tr>
          <tr>
            <td>Pontos ganhos por euro doado</td>
            <td>:</td>
            <td><%= points.pointsPerEuroDonated %></td>
          </tr>
          <tr>
            <tr>
              <td>Pontos ganhos por doador angariado</td>
              <td>:</td>
              <td><%= points.pointsPerNewUser %></td>
            </tr>
            <tr>
        </tbody>
      </table>
      <form action="/points/edit/661ff5afe10497c901313a23" method="get">
        <button type="submit">ATUALIZAR</button>
      </form>
    </div>
  </body>
</html>
